@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background: linear-gradient(266deg, #E5DDC9 1.5%, #AB9A7A 99.35%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-top: 5%;
  height: fit-content;
  margin: 5%;
}

.text {
  width: 560px;
  height: 72px;
  flex-shrink: 0;
  height: fit-content;
}


#timer {
  font-size: 1.5em;
  color: #010c39;
  margin-left: auto;
  margin-right: 5%;
  
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  width: 80%;
  margin: auto;
}

.draggable-objects,
.drop-points {
  display: flex;
  justify-content: space-evenly;
}

.draggable-image {
  width: 8em;
  cursor: move;
  margin: 0.5em;
}

img {
  width: 8em;
  filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
}

.countries {
  width: 140px;
  height: 100px;
  display: grid;
  place-items: center;
  border: 0.25em dashed #010c39;
  border-radius: 0.8em;
  margin: 0.5em;
}

.dropped {
  padding: 0;
  background-color: #e5ffc8;
}

.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: linear-gradient(266deg, #E5DDC9 1.5%, #AB9A7A 99.35%);
  flex-direction: column;
  top: 0;
}

.controls-container p {
  color: #ffffff;
  font-size: 2em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.button {
display: flex;
width: 167px;
height: 67px;
padding: 10px 30px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 20px;
border: 4px solid #C6382F;
background: var(--red, linear-gradient(266deg, #B3271E 1.5%, #5C1919 99.35%));
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
font-size:24px; 
color: #E5DDC9; 
margin-right: 10%; 
}

.button:hover {
  cursor: pointer;
}

button#next {
  border-radius: 20px;
  border: 4px solid #688E2B;
  background: var(--green, linear-gradient(253deg, #6E9D22 -3.77%, #27370C 96.4%));
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  color: #E5DDC9;
  text-align: center;
  font-family: Rowdies;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 30px;
  transition: 0.8s;
}

button#next:hover {
  background: var(--green, linear-gradient(253deg, #27370C -3.77%, #27370C 96.4%));
  cursor: pointer;
}

h1 {
  color: #C68309;
  text-align: center;
  text-shadow: 0px 10px 5.3px rgba(0, 0, 0, 0.40);
  -webkit-text-stroke-width: 12px;
  -webkit-text-stroke-color: #7C4607;
  font-family: Rowdies;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  paint-order: stroke fill;
}

#result {
  margin-bottom: 40px;
}